{% extends 'layout/base.jinja' %}
{% import 'layout/macros.jinja' as macros %}

{% block header %}
<h3>Last 5 articles</h3>
<hr />
{% endblock %}

{% block content %}
{{ macros.DisplayArticles(data) }}
{% endblock %}